.my-header {
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    padding: 30px 30px 40px;
    text-align: center;
	text-transform: uppercase;
}

.my-footer {
    border-top: 1px solid #e5e5e5;
    bottom: 0;
    font-size: 11px;
    padding: 20px 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}
