html {
	position: relative;
    min-height: 100%;    
}

body {
	color: #999;
	font: 13px/1.2em Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}


.my-header {    
    font-size: 16px;
    padding-bottom: 15px;
    margin: 20px 0 20px;
    text-align: center;
	text-transform: uppercase;
}

.my-footer {
	position: absolute;
    background-color: #f5f5f5;    
    bottom: 0;
    font-size: 11px;
    height: 60px;    
    width: 99%;
    text-align: center;
    text-transform: uppercase;
}

.like-a-h {
	font-size: 20px;	
}

.my-center {	
	margin: 50px 155px auto;
	text-align: center;	
}


